<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>userAgree.html</title>
</head>
<body>
<form action="userWrite" method="get">
<textarea rows="5" cols="80" readonly="readonly">
개인정보 수집동의
홈페이지 회원가입을 위해 아래와 같이 개인정보를 수집.이용합니다.

수집목적 : 회원식별 및 서비스제공
수집항목 : 아이디, 비밀번호, 이메일, 전화번호
보유.이용기간 : 이용목적 달성 시

*필수 동의 거부 시 서비스가 제한될 수 있습니다.
</textarea><br/>
위 개인정보 수집.이용에 동의합니다.
<input type="checkbox" name="agree" required="required"><br/>
<input type="submit" value="동의">
</form>
</body>
</html>