<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원 수정페이지</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {
	font-family: "Roboto", sans-serif
}

body, h1, h2, h3, h4, h5, h6, .w3-wide {
	font-family: "Montserrat", sans-serif;
}
</style>
</head>
<body>
<header class="w3-w3-bar w3-top w3-black w3-xlarge">
	<div class="w3-bar-item w3-padding-24 w3-wide w3-center">직원 상세보기
	</div>
</header>
<div class="w3-main" style="margin-left: 250px">
	<div class="w3-large" style="margin-top: 83px"></div>

	<header class="w3-container w3-xlarge">
		<p class="w3-center">
			<a th:href="|memberDetail?memberNum=${memberCommand.memberNum}|">뒤로가기</a>
		</p>
	</header>

	<div class="w3-display-container w3-container">
	<form action="memberModify" method="post" th:object="${memberCommand}">
		<table border="1" width="600" align="center">
			<tr>
				<th>직원번호</th>
				<td><input type="text" name="memberNum" th:value="${memberCommand.memberNum}" readonly="readonly"/></td>
			</tr>
			<tr>
				<th>아이디</th>
				<td><input type="text" name="memberId" th:value="${memberCommand.memberId}"/></td>
			</tr>
			<tr>
				<th>성명</th>
				<td><input type="text" name="memberName" th:value="${memberCommand.memberName}"/></td>
			</tr>
			<tr>
				<th>주소</th>
				<td><input type="text" name="memberAddr" th:value="${memberCommand.memberAddr}"/></td>
			</tr>
			<tr>
				<th>상세주소</th>
				<td><input type="text" name="memberAddrDetail" th:value="${memberCommand.memberAddrDetail}"/></td>
			</tr>
			<tr>
				<th>우편번호</th>
				<td><input type="text" name="memberPost" th:value="${memberCommand.memberPost}"/></td>
			</tr>
			<tr>
				<th>연락처</th>
				<td><input type="tel" name="memberPhone" th:value="${memberCommand.memberPhone}"/></td>
			</tr>
			<tr>
				<th>이메일</th>
				<td><input type="email" name="memberEmail" th:value="${memberCommand.memberEmail}"/></td>
			</tr>
			<tr>
				<th colspan="2"><input type="submit" value="수정완료"/></th>
			</tr>
		</table>
	</form>
	</div>
</div>
</body>
</html>