<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회워 상세페이지</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {
	font-family: "Roboto", sans-serif
}

body, h1, h2, h3, h4, h5, h6, .w3-wide {
	font-family: "Montserrat", sans-serif;
}
</style>
</head>
<body>
<header class="w3-w3-bar w3-top w3-black w3-xlarge">
	<div class="w3-bar-item w3-padding-24 w3-wide w3-center">직원 상세보기
	</div>
</header>
<div class="w3-main" style="margin-left: 250px">
	<div class="w3-large" style="margin-top: 83px"></div>

	<header class="w3-container w3-xlarge">
		<p class="w3-center">
			<a href="memberList">뒤로가기</a>
		</p>
		<p class="w3-center">
			<a th:href="|memberModify?memberNum=${memberCommand.memberNum}|">수정</a> | 
			<a th:href="|memberDelete?memberNum=${memberCommand.memberNum}|">삭제</a>
		</p>
	</header>

	<div class="w3-display-container w3-container">
		<table border="1" width="500" align="center">
			<tr>
				<th>직원번호</th>
				<td>[[${memberCommand.memberNum}]]</td>
			</tr>
			<tr>
				<th>아이디</th>
				<td>[[${memberCommand.memberId}]]</td>
			</tr>
			<tr>
				<th>성명</th>
				<td>[[${memberCommand.memberName}]]</td>
			</tr>
			<tr>
				<th>주소</th>
				<td>[[${memberCommand.memberAddr}]]</td>
			</tr>
			<tr>
				<th>상세주소</th>
				<td>[[${memberCommand.memberAddrDetail}]]</td>
			</tr>
			<tr>
				<th>우편번호</th>
				<td>[[${memberCommand.memberPost}]]</td>
			</tr>
			<tr>
				<th>연락처</th>
				<td>[[${memberCommand.memberPhone}]]</td>
			</tr>
			<tr>
				<th>이메일</th>
				<td>[[${memberCommand.memberEmail}]]</td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>